.Filters{
    background-color: white;
    box-shadow: 0 0 0.5rem #ccc;
}

@media (min-width: 600px) {
    .Filters {
        /* separar los elementos con margen */
        margin: 1rem;
        /* separar los elementos con padding */
        padding: 1rem;
        /* separar los elementos con sombra */
        box-shadow: 0 0 0.5rem #ccc;
    }


}